.section {
    background: white;
    box-shadow: 3px 3px 3px #ccc;
}

.section__title {
    border-bottom: 1px solid #ccc;
    padding: 15px;
    font-size: 20px;
}

.section__title--special {
    border-bottom: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.section__header {
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
}

@media (max-width: 768px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}
