.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 1px solid #ccc;
    padding: 10px;
}

.form__button {
    border: none;
    background-color: teal;
    color: white;
    padding: 10px;
    transition: 1s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 15%);
    transform: scale(1.1);
}

.form__button:active {
    background-color: hsl(180, 100%, 35%);
}